<head>
    <!-- Typeface -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900" rel="stylesheet">
    <!-- Icon -->
    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/avocarrot-style-guide/3.3/images/avocarrot-skin/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Sites style-->
    <link rel="stylesheet" href="https://s3.amazonaws.com/avocarrot-style-guide/latest/avocarrot-skin/sites/sites.min.css">
    <!-- Apps style-->
    <link rel="stylesheet" href="https://s3.amazonaws.com/avocarrot-style-guide/latest/avocarrot-skin/apps/apps.min.css">
</head>
